.main-container
{
    position: relative;
    top: 3rem;
    margin: auto;
    width: 500px;
    padding: 10px;
}
h1
{
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: var(--third-color);
    padding-bottom: 40px;
}
p
{

}